!pip install pandas
!pip install numpy
!pip install scikit-learn
!pip install yfinance

In [30]:
import pandas as pd
import numpy as np
import yfinance as yf
import random

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [6]:
stock ='EURUSD=X'
forex_data = yf.download(stock, start='2016-01-02', end='2022-07-03')

[*********************100%***********************]  1 of 1 completed

In [7]:
forex_data

                Open      High       Low     Close  Adj Close  Volume
Date
2016-01-04  1.085505  1.094600  1.080600  1.085399   1.085399       0
2016-01-05  1.082603  1.084105  1.071201  1.082755   1.082755       0
2016-01-06  1.075199  1.077203  1.072200  1.075199   1.075199       0
2016-01-07  1.077795  1.087600  1.077400  1.077900   1.077900       0
2016-01-08  1.092705  1.092896  1.080801  1.092598   1.092598       0
...              ...       ...       ...       ...        ...     ...
2022-06-27  1.056613  1.061425  1.055086  1.056613   1.056613       0
2022-06-28  1.058089  1.060502  1.050575  1.058089   1.058089       0
2022-06-29  1.052355  1.053630  1.046803  1.052355   1.052355       0
2022-06-30  1.044659  1.047878  1.038389  1.044659   1.044659       0
2022-07-01  1.047768  1.047790  1.036989  1.047768   1.047768       0

[1692 rows x 6 columns]

In [14]:
fx_data = ['Open', 'High', 'Low', 'Close']

In [16]:
for col in fx_data:
    forex_data[col] = forex_data[col].replace(0, np.NaN)
    mean = int(forex_data[col].mean(skipna=True))
    forex_data[col] = forex_data[col].replace(np.NaN, mean)